<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form th:action=@{/film/ajouter} method="post" th:object="${film}">
	<label for="filmTitre">Titre : </label>
	<input type=text id="filmTitre" th:field="*{titre}">
	<label for="filmAnnee">Sortie : </label>
	<input type=number id="filmAnnee" th:field="*{annee}">
	<label for="filmDuree">Duree : </label>
	<input type=number id="filmDuree" th:field="*{duree}">
	<label for="filmSynopsis">Synopsis : </label>
	<input type=text id="filmSynopsis" th:field="*{synopsis}">
	<label for="genreInput">Genre</label>
	<select id="genreInput" th:field="*{genre}" required>
			<option th:each="genre:${listeGenres}" th:value="${genre.id}" th:text="${genre.libelle}"></option>
	</select>
	<input type="submit" value="Valider">
	
</form>

</body>
</html>