<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Accueil</title>
</head>
<body>

<h1>Bienvenue</h1>

<table >
	<tr>
		<th>Titre</th><th>Sortie</th><th>Durée</th><th>Synopsis</th><th>genre</th>
	</tr>
	<tr th:each="film: ${listeFilms}">
	<td th:text="${film.titre}"></td>
	<td th:text="${film.annee}"></td>
	<td th:text="${film.duree}"></td>
	<td th:text="${film.synopsis}"></td>
	<td th:text="${film.genre.libelle}"></td>	 		 	
	</tr>
</table>

<a th:href="@{/film/ajouter}">Ajouter un film</a>

</body>
</html>